body {
	width: 100%;
	min-width: 1000px;
	height: 100%;
	margin: 0;
	background-color: #eee;
}

.wrapper {
	width: 100%;
	height: 100%;
	background-image: url("../images/stage/bg.png");
	-webkit-animation-duration: 20s;
	-webkit-animation-name: slidebg;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-duration: 20s;
	animation-name: slidebg;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@-webkit-keyframes slidebg {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 1005px 0;
	}
}

@keyframes slidebg {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 1005px 0;
	}
}

.stage {
	width: 100%;
	height: 100%;
}
